@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.12/latin.css");

body {
  font-family: var(--body-font);
  background: var(--white);
  color: var(--black);
  padding: var(--margin);
  font-size: var(--body-font-size);
}

:root {
  --margin: 3rem;
  --golden-ratio: 1.618;
  --smaller-margin: calc(var(--margin) / var(--golden-ratio));
  --title-font-size: 2.7rem;
  --subtitle-font-size: calc((var(--title-font-size) / (var(--golden-ratio))));
  --body-font-size: calc((var(--subtitle-font-size) / (var(--golden-ratio))));
  --labelFontSize: 0.7rem;
  --yellow: #f0ca00;
  --red: #f30100;
  --blue: #00c1aa;
  --white: #fafafa;
  --black: #2d2d2a;
  --body-font: "Fira-Sans";
  --body-font-bold: "Fira-Sans-Bold";
  --transition-duration: 500;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--margin) / var(--golden-ratio));
}

#title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#title {
  font-size: var(--title-font-size);
}

#subtitle {
  font-size: var(--subtitle-font-size);
}

#tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 10px;
  font-size: var(--labelFontSize);
  background: var(--white);
  pointer-events: none;
  opacity: 0.9;
  color: var(--black);
}

@font-face {
  font-family: "Fira-Sans";
  src: url("/assets/Fira_Sans/FiraSans-Regular.ttf");
}

@font-face {
  font-family: "Fira-Sans-Bold";
  src: url("/assets/Fira_Sans/FiraSans-Bold.ttf");
}
